.footer {
  background-color: #f9f9fa;
  margin-top: "40px";
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-details-wrapper {
  color: #585e6a;
  margin-top: 65px;
  font-size: 14px;
  font-family: sans-serif;
}

.footer-details-wrapper div {
  margin-bottom: 25px;
}
