.text-wrapper {
  margin-top: 150px;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 60px;
  color: #2c2d3c;
}

.btns-wrapper {
  margin-top: 5em;
}

.btns-wrapper button {
  height: 70px;
  width: 360px;
  border-radius: 10px;
  border-style: none;
  font-family: sans-serif;
  font-size: 18px;
}

#get-quote-btn {
  margin-right: 10px;
  background-color: #2c2d3c;
  color: #fff;
}

#track-shipment-btn {
  margin-left: 10px;
  background-color: #dcdfe1;
  color: #2c2d3c;
}

.why-choose-us {
  margin: 0;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 60px;
  color: #2c2d3c;
}

.why-choose-us span {
  color: #a9b0bc;
}

.reasons-list {
  counter-reset: count;
  margin-right: 30px;
}

.reasons-list li {
  counter-increment: count;
  font-family: sans-serif;
  font-size: 16px;
  color: #2c2d3c;
}

.reasons-list li::marker {
  content: "0" counter(count, decimal) ".   ";
}

.reasons-list li p {
  font-family: sans-serif;
  font-size: 12px;
  color: #757982;
  margin: 12px 0 20px 0;
}
